# General
.DS_Store
.vscode/
.idea/
*.log

# Python / Backend
**/__pycache__/
backend/venv/
backend/data/chroma_db/
backend/data/settings.json
backend/data/personal_details.json
backend/data/mcp_servers.json
backend/data/available_tools.json
backend/data/credentials.json
!backend/data/user_agents.json
!backend/data/custom_tools.json

# Javascript / Frontend
frontend/node_modules/
frontend/.next/
frontend/next-env.d.ts

# Specific project files
backend/chroma_db/
backend/data/chroma_db/
backend/.venv/